.header {
  position: sticky;
  background-color: white !important;
  top: 0;
  z-index: 1;
}
.header input {
  padding: 0px 20px;
  outline: none;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  border-radius: 3px;
}

.header input::placeholder {
  text-align: center;
}
.icon a {
  color: black;
}

.icon {
  display: flex;
  justify-content: space-around;
}

.logo,
.icon {
  cursor: pointer;
}

.logo :active,
.icon :active {
  opacity: 0.7;
}

.search {
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex !important;
  }

  .header .search {
    display: none;
  }
}
